/*
*{
    background-color: aqua;
}

#compteur{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    margin: 10px;
}

#compteur button{
    padding: 10px;
    font-size: 24px;
}

#compteur p.erreur{
    color: rgb(177, 67, 67);
}
*/

.navbar{
    color: blue;
}
.post{
    background-color: blue;
    width: 400px;
    display: flex;
    color: white;
    margin-top: 5px;
}
.postliker{
    background-color: rgb(230, 219, 68);
    width: 400px;
    display: flex;
    color: white;
    margin-top: 5px;
}

.likebtn{
    border: solid 1px white;
    background-color: brown;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.deletebtn{
    border: solid 1px white;
    background-color: rgb(42, 165, 155);
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}